{% extends "base_generic.html" %}

{% block content %}
<h1>Country: {{ balancednutritionformula.country }}</h1>
{% for human_attribute in balancednutritionformula.humans_attributes.all %}
<hr>
<p><strong>Age</strong> {{ human_attribute.age }}</p>
<p><strong>Sex</strong> {{ human_attribute.sex }}</p>
<p><strong>PAG</strong> {{ human_attribute.pag }}</p>
<p><strong>Cpa</strong> {{ human_attribute.cpa }}</p>
<p><strong>Weight</strong> {{ human_attribute.weight }}</p>
<p><strong>Proteins in 100 g</strong> {{ human_attribute.proteins }} </p>
<p><strong>Proteins in 100 g including animals</strong> {{ human_attribute.proteins_including_animals }} </p>
<p><strong>Fat in 100 g</strong> {{ human_attribute.fat }} </p>
<p><strong>Fat in n100 g including animals</strong> {{ human_attribute.fat_including_animals }} </p>
<p><strong>Digestible carbohydrates in 100 g</strong> {{ human_attribute.digestible_carbohydrates }} </p>
<p><strong>Digestible carbohydrates in 100 g including mono and disaccharides</strong> {{ human_attribute.digestible_carbohydrates_incl_m_and_d }} </p>
<p><strong>Dietary fiber in 100 g</strong> {{ human_attribute.dietary_fiber }} </p>
<p><strong>Dietary fiber in 100 g including fiber and pectin</strong> {{ human_attribute.dietary_fiber_including_fiber_and_pectin }} </p>
<p><strong>Polyunsaturated acid</strong> {{ human_attribute.polyunsaturated_acid }} </p>
<p><strong>Saturated acid</strong> {{ human_attribute.saturated_acid }} </p>
<p><strong>Monounsaturated acid</strong> {{ human_attribute.monounsaturated_acid }} </p>
<p><strong>Calcium in 100 g in mg</strong> {{ human_attribute.calcium_in_mg }} </p>
<p><strong>Phosphorus in 100 g in mg</strong> {{ human_attribute.phosphorus_in_mg }} </p>
<p><strong>Magnesium in 100 g in mg</strong> {{ human_attribute.magnesium_in_mg}} </p>
<p><strong>Potassium in 100 g in mg</strong> {{ human_attribute.potassium_in_mg }} </p>
<p><strong>Sodium in 100 g in mg</strong> {{ human_attribute.sodium_in_mg }} </p>
<p><strong>Chlorine in 100 g in mg</strong> {{ human_attribute.chlorine_in_mg }} </p>
<p><strong>Sulfur in 100 g in mg</strong> {{ human_attribute.sulfur_in_mg }} </p>
<p><strong>Iron in 100 g in mg</strong> {{ human_attribute.iron_in_mg }} </p>
<p><strong>Zinc in 100 g in mg</strong> {{ human_attribute.zinc_in_mg }} </p>
<p><strong>Iodine in 100 g in mg</strong> {{ human_attribute.iodine_in_mg }} </p>
<p><strong>Fluorine in 100 g in mg</strong> {{ human_attribute.fluorine_in_mg }} </p>
<p><strong>Thiamine vitamin B1 in 100 g in mg</strong> {{ human_attribute.thiamine_vitamin_B1_in_mg }} </p>
<p><strong>Riboflavin vitamin B2 in 100 g in mg</strong> {{ human_attribute.riboflavin_vitamin_B2_in_mg }} </p>
<p><strong>Pyridoxine vitamin B6 in 100 g in mg</strong> {{ human_attribute.pyridoxine_vitamin_B6_in_mg }} </p>
<p><strong>Pantothenic acid vitamin B3 in 100 g in mg</strong> {{ human_attribute.pantothenic_acid_vitamin_B3_in_mg }} </p>
<p><strong>Folacin acid vitamin B9 in 100 g in mcg</strong> {{ human_attribute.folacin_acid_vitamin_B9_in_mcg }} </p>
<p><strong>Cobalamin acid vitamin B12 in 100 g in mcg</strong> {{ human_attribute.cobalamin_acid_vitamin_B12_in_mcg }} </p>
<p><strong>Niacin vitamin PP in 100 g in mg</strong> {{ human_attribute.niacin_vitamin_PP_in_mg }} </p>
<p><strong>Ascorbic acid vitamin C in 100 g in mg</strong> {{ human_attribute.ascorbic_acid_vitamin_C_in_mg }} </p>
<p><strong>Retinol vitamin A in 100 g in mcg</strong> {{ human_attribute.retinol_vitamin_A_in_mcg }} </p>
<p><strong>Tocopherol vitamin E in 100 g in mg</strong> {{ human_attribute.tocopherol_vitamin_E_in_mg }} </p>
<p><strong>Cholecalciferol vitamin D in 100 g in mcg</strong> {{ human_attribute.cholecalciferol_vitamin_D_in_mcg }} </p>
<p><strong>Energy value in kcal</strong> {{ human_attribute.energy_value_in_kcal }} </p>
{% endfor %}
{% endblock %}
