{% extends "base_generic.html" %}

{% block content %}
{% if menu_inst %}
  <h1>Calculated Menu</h1>
{% for menu in menu_inst.list_of_menus.all %}
<p><strong>Dish name: </strong><a href="{{menu.breakfast.get_absolute_url }}">{{menu.breakfast.name}}</a></p>
<p><strong>Dish recipe: </strong>{{menu.breakfast.recipe}}</p>
<p><strong>Dish kitchen utensils: </strong></p>
{% for kitchen_utensil in menu.breakfast.kitchen_utensils.all %}
<p><strong><a href="{{ kitchen_utensil.get_absolute_url }}">{{kitchen_utensil.name}}</a></strong></p>
{% endfor %}
<p><strong>Dish products: </strong></p>
{% for product in menu.breakfast.products.all %}
<p><strong><a href="{{ product.product.get_absolute_url }}">{{product.product.name}}</a></strong> {{product.amount}}-{{product.unit}}</p>
{% endfor %}
<p><strong>Dish name: </strong><a href="{{ menu.dinner.get_absolute_url }}">{{menu.dinner.name}}</a></p>
<p><strong>Dish recipe: </strong>{{menu.dinner.recipe}}</p>
<p><strong>Dish kitchen utensils: </strong></p>
{% for kitchen_utensil in menu.dinner.kitchen_utensils.all %}
<p><strong><a href="{{ kitchen_utensil.get_absolute_url }}">{{kitchen_utensil.name}}</a></strong></p>
{% endfor %}
<p><strong>Dish products: </strong></p>
{% for product in menu.dinner.products.all %}
<p><strong><a href="{{ product.product.get_absolute_url }}">{{product.product.name}}</a></strong> {{product.amount}}-{{product.unit}}</p>
{% endfor %}
<p><strong>Dish name: </strong><a href="{{menu.evening_meal.get_absolute_url}}">{{menu.evening_meal.name}}</a></p>
<p><strong>Dish recipe: </strong>{{menu.evening_meal.recipe}}</p>
<p><strong>Dish kitchen utensils: </strong></p>
{% for kitchen_utensil in menu.evening_meal.kitchen_utensils.all %}
<p><strong><a href="{{ kitchen_utensil.get_absolute_url }}">{{kitchen_utensil.name}}</a></strong></p>
{% endfor %}
<p><strong>Dish products: </strong></p>
{% for product in menu.evening_meal.products.all %}
<p><strong><a href="{{ product.product.get_absolute_url }}">{{product.product.name}}</a></strong> {{product.amount}}-{{product.unit}}</p>
{% endfor %}
{% endfor %}
{% endif %}
{% endblock %}