{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<script src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#myForm tbody tr').formset({
            prefix: '{{ formset.prefix }}'
        });
    })
</script>
<h1>Add Dish</h1>

    <form id="myForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <table>
            <tbody>
                {% for form in formset.forms %}

                    <tr id="{{ form.prefix }}-row">
                        <td>{{ form.as_p }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

        {{ formset.management_form }}
        <input type="submit" value="Submit" />
    </form>


{% endblock %}
