{% extends "base_generic.html" %}

{% block content %}
    <h1>Dish List</h1>

    {% if dish_list %}
    <ul>

      {% for dish in dish_list %}
      <li>
        <a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a>
          {% if user.is_authenticated %}
                {% if user not in dish.favorite.all %}
                - <a href="{% url 'add_dish_to_favorite' dish.id %}">Add to favorite</a>
                {% else %}
                - <a href="{% url 'delete_dish_from_favorite' dish.id %}">Delete from favorite</a>


                {% endif %}
                {% endif %}


      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no dishes in the database.</p>
    {% endif %}
{% endblock %}