{% extends "base_generic.html" %}

{% block content %}
    <h1>Products List</h1>

    {% if product_list %}
    <ul>

      {% for product in product_list %}
      <li>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                {% if user.is_authenticated %}
                {% if user not in product.favorite.all %}
                - <a href="{% url 'add_to_favorite' product.id %}">Add to favorite</a>
                {% else %}
                - <a href="{% url 'delete_from_favorite' product.id %}">Delete from favorite</a>


                {% endif %}
                {% endif %}


      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no products in the database.</p>
    {% endif %} 
{% endblock %}