{% extends "base_generic.html" %}

{% block content %}
  <h1>Product name: {{ product.name }}</h1>
  <p><strong>Proteins in 100 g</strong> {{ product. }} </p>
<p><strong>Proteins_in_100_g_including_animals</strong> {{ product. }} </p>
<p><strong>fat_in_100_g</strong> {{ product. }} </p>
<p><strong>fat_in_100_g_including_animals</strong> {{ product. }} </p>
<p><strong>digestible_carbohydrates_in_100_g</strong> {{ product. }} </p>
<p><strong>digestible_carbohydrates_in_100_g_including_mono_and_disaccharides</strong> {{ product.digestible_carbohydrates_in_100_g_incl_m_and_d }} </p>
<p><strong>dietary_fiber_in_100_g</strong> {{ product. }} </p>
<p><strong>dietary_fiber_in_100_g_including_fiber_and_pectin</strong> {{ product. }} </p>
<p><strong>polyunsaturated_acid</strong> {{ product. }} </p>
<p><strong>saturated_acid</strong> {{ product. }} </p>
<p><strong>monounsaturated_acid</strong> {{ product. }} </p>
<p><strong>calcium_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>phosphorus_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>magnesium_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>potassium_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>sodium_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>chlorine_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>sulfur_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>iron_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>zinc_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>iodine_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>fluorine_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>thiamine_vitamin_B1_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>riboflavin_vitamin_B2_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>pyridoxine_vitamin_B6_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>pantothenic_acid_vitamin_B3_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>folacin_acid_vitamin_B9_in_100_g_in_mcg</strong> {{ product. }} </p>
<p><strong>cobalamin_acid_vitamin_B12_in_100_g_in_mcg</strong> {{ product. }} </p>
<p><strong>niacin_vitamin_PP_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>ascorbic_acid_vitamin_C_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>retinol_vitamin_A_in_100_g_in_mcg</strong> {{ product. }} </p>
<p><strong>tocopherol_vitamin_E_in_100_g_in_mg</strong> {{ product. }} </p>
<p><strong>cholecalciferol_vitamin_D_in_100_g_in_mcg</strong> {{ product. }} </p>
<p><strong>energy_value_in_kcal</strong></p>

  <div style="margin-left:20px;margin-top:20px">
    <h2>Where to by</h2>
    {% for price in product.price_set.all %}
    <hr>
    <p><strong>Name:</strong> {{ price.product.name }}</p>
    <p><strong>Price:</strong> {{ price.price }}</p>
    <p><strong>Store:</strong> <a href="{{ price.store.get_absolute_url }}">{{ price.store }} </a> </p>
    {% endfor %}
  </div>
{% endblock %}
