{% extends "base_generic.html" %}

{% block content %}
  <h1>Product name: {{ product.name }}</h1>
  <p><strong>Proteins in 100 g</strong> {{ product.proteins_in_100_g }} </p>
<p><strong>Proteins in 100 g including animals</strong> {{ product.proteins_in_100_g_including_animals }} </p>
<p><strong>Fat in 100 g</strong> {{ product.fat_in_100_g }} </p>
<p><strong>Fat in n100 g including animals</strong> {{ product.fat_in_100_g_including_animals }} </p>
<p><strong>Digestible carbohydrates in 100 g</strong> {{ product.digestible_carbohydrates_in_100_g }} </p>
<p><strong>Digestible carbohydrates in 100 g including mono and disaccharides</strong> {{ product.digestible_carbohydrates_in_100_g_incl_m_and_d }} </p>
<p><strong>Dietary fiber in 100 g</strong> {{ product.dietary_fiber_in_100_g }} </p>
<p><strong>Dietary fiber in 100 g including fiber and pectin</strong> {{ product.dietary_fiber_in_100_g_including_fiber_and_pectin }} </p>
<p><strong>Polyunsaturated acid</strong> {{ product.polyunsaturated_acid }} </p>
<p><strong>Saturated acid</strong> {{ product.saturated_acid }} </p>
<p><strong>Monounsaturated acid</strong> {{ product.monounsaturated_acid }} </p>
<p><strong>Calcium in 100 g in mg</strong> {{ product.calcium_in_100_g_in_mg }} </p>
<p><strong>Phosphorus in 100 g in mg</strong> {{ product.phosphorus_in_100_g_in_mg }} </p>
<p><strong>Magnesium in 100 g in mg</strong> {{ product.magnesium_in_100_g_in_mg}} </p>
<p><strong>Potassium in 100 g in mg</strong> {{ product.potassium_in_100_g_in_mg }} </p>
<p><strong>Sodium in 100 g in mg</strong> {{ product.sodium_in_100_g_in_mg }} </p>
<p><strong>Chlorine in 100 g in mg</strong> {{ product.chlorine_in_100_g_in_mg }} </p>
<p><strong>Sulfur in 100 g in mg</strong> {{ product.sulfur_in_100_g_in_mg }} </p>
<p><strong>Iron in 100 g in mg</strong> {{ product.iron_in_100_g_in_mg }} </p>
<p><strong>Zinc in 100 g in mg</strong> {{ product.zinc_in_100_g_in_mg }} </p>
<p><strong>Iodine in 100 g in mg</strong> {{ product.iodine_in_100_g_in_mg }} </p>
<p><strong>Fluorine in 100 g in mg</strong> {{ product.fluorine_in_100_g_in_mg }} </p>
<p><strong>Thiamine vitamin B1 in 100 g in mg</strong> {{ product.thiamine_vitamin_B1_in_100_g_in_mg }} </p>
<p><strong>Riboflavin vitamin B2 in 100 g in mg</strong> {{ product.riboflavin_vitamin_B2_in_100_g_in_mg }} </p>
<p><strong>Pyridoxine vitamin B6 in 100 g in mg</strong> {{ product.pyridoxine_vitamin_B6_in_100_g_in_mg }} </p>
<p><strong>Pantothenic acid vitamin B3 in 100 g in mg</strong> {{ product.pantothenic_acid_vitamin_B3_in_100_g_in_mg }} </p>
<p><strong>Folacin acid vitamin B9 in 100 g in mcg</strong> {{ product.folacin_acid_vitamin_B9_in_100_g_in_mcg }} </p>
<p><strong>Cobalamin acid vitamin B12 in 100 g in mcg</strong> {{ product.cobalamin_acid_vitamin_B12_in_100_g_in_mcg }} </p>
<p><strong>Niacin vitamin PP in 100 g in mg</strong> {{ product.niacin_vitamin_PP_in_100_g_in_mg }} </p>
<p><strong>Ascorbic acid vitamin C in 100 g in mg</strong> {{ product.ascorbic_acid_vitamin_C_in_100_g_in_mg }} </p>
<p><strong>Retinol vitamin A in 100 g in mcg</strong> {{ product.retinol_vitamin_A_in_100_g_in_mcg }} </p>
<p><strong>Tocopherol vitamin E in 100 g in mg</strong> {{ product.tocopherol_vitamin_E_in_100_g_in_mg }} </p>
<p><strong>Cholecalciferol vitamin D in 100 g in mcg</strong> {{ product.cholecalciferol_vitamin_D_in_100_g_in_mcg }} </p>
<p><strong>Energy value in kcal</strong> {{ product.energy_value_in_kcal }} </p>

  <div style="margin-left:20px;margin-top:20px">
    <h2>Where to by</h2>
    {% for price in product.price_set.all %}
    <hr>
    <p><strong>Name:</strong> {{ price.product.name }}</p>
    <p><strong>Price:</strong> {{ price.price }}</p>
    <p><strong>Store:</strong> <a href="{{ price.store.get_absolute_url }}">{{ price.store }} {{ price.store.location }}</a> </p>
    {% endfor %}
  </div>
{% endblock %}
